[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

wit = "*"
pytest = "*"
pytest-watch = "*"
pylint = "*"
mock = "*"
pytest-mock = "*"
doublex = "*"


[dev-packages]

